
@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --bg-black-900:#f2f2fc;
    --bg-black-100:#fdf6ff;
    --bg-black-50:#e8dfec;
    --text-black-900:#302e4d;
    --text-black-700:#504e70;
}
a {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit the color from the parent */
    background: none; /* Remove any background */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margin */
    border: none; /* Remove any border */
    font: inherit; /* Inherit font styles */
}
 .dark{
    --bg-black-900:#151515;
    --bg-black-100:#222222;
    --bg-black-50:#393939;
    --text-black-900:#ffffff;
    --text-black-700:#e9e9e9;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
    font-family:  'Poppins' sans-serif ;
}
ul{
    list-style: none;
}
*{
    margin: 0;
    padding: 0;
    text-decoration: none !important;
    outline: none;
}
::before,::after{
    box-sizing: border-box;
}
.section{
   min-height: 100vh;
   background: var(--bg-black-900);
   display: block;
   opacity: 1;
   position: fixed;
   left: 270px;
   right: 0;
   top: 0;
   bottom: 0;
   z-index: 0;
   overflow-y: auto;
   overflow-x: hidden;
   padding: 0 30px;
   transition: all 0.3s ease ;
   -webkit-transition: all 0.3s ease ;
   -moz-transition: all 0.3s ease ;
   -ms-transition: all 0.3s ease ;
   -o-transition: all 0.3s ease ;
}
.section.active{
    z-index: 2;
    opacity: 1;
    animation:  slideSection 1s ease;
    -webkit-animation:  slideSection 1s ease;
}
@keyframes slideSection {
    0%
    {
        transform: translateX(100%);
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
    }
    100%
    {
        transform: translateX(0%);
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
}
}

.aside{
    position: fixed;
    top: 0;
    left: 0;
    width: 275px;
    background: var(--bg-black-100);
    z-index: 10;
    height: 100%;
    display: flex;
    justify-content: center;
    border-right: 1px solid var(--bg-black-50);
    align-items: center;
}
.aside .nav-toggler{
    width: 45px;
    height: 40px;
    border: 1px solid var(--bg-black-50);
    position: fixed;
    left: 300px;
    top: 20px;
    cursor: pointer;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background: var(--bg-black-100);
    display: none;
    justify-content: center;
    align-items: center;
}
.aside .nav-toggler span{
    width: 18px;
    height: 2px;
    background: var(--skin-color);
    display: inline-block;
    position: relative;
}
.aside .nav-toggler.open span{
    background-color: transparent;
}
.section.back-section{
    z-index: 1;
}
.aside .nav-toggler span::before{
    content: '';
    width: 18px;
    height: 2px;
    background: var(--skin-color);
    position: absolute;
    top: -6px;
    left: 0;

}
.aside .nav-toggler.open span::before{
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    top: 0;
}
.aside .nav-toggler span::after{
    content: '';
    width: 18px;
    height: 2px;
    background: var(--skin-color);
    position: absolute;
    top: 6px;
    left: 0;

}
.aside .nav-toggler.open span::after{
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    top: 0;
}
.aside.open{
    left: 0;
}

.aside .logo{
position: absolute;
top: 30px;
font-size: 30px;
text-transform: capitalize;

}
.aside .logo a{
    padding: 15px 20px;
    font-weight: 700;
    color: var(--text-black-900) !important;
    letter-spacing: 5px;
    position: relative;
}
.aside .logo a span{
    font-family: 'Clicker Script' ;
    font-size: 40px;
}
.container .row .home-info{
  color: var(--text-black-900);
  
}
.home {
    display: flex;
    align-items: center;
    min-height: 100vh;

}
h3.hello{
    font-size: 28px;
    margin-top: 30px;
   
}
.about-content{
    padding: 15px 20px;
}
.shadow-dark{
    box-shadow: 0 0 20px  rgb(44,47,77,0.15);
}
.hidden{
    display: none;
}
.home-info .name{
    font-family: 'Clicker Script';
    color: var(--skin-color);
    font-size: 30px;
    font-weight: 700;
    
}
.home-info .my-profession{
    font-size: 30px;
    margin: 15px 0;
}
.typing{
    color: var(--skin-color);
}
.home-info p{
    margin-bottom: 70px;
    font-size: 20px;
    color: var(--text-black-700);
}


.navgation li{
    margin-bottom: 20px;
    display: block;

}
.navgation li a{
    font-weight: 600;
    border-bottom: 1px solid var(--bg-black-50);
    color: var(--text-black-700) !important;
    padding: 5px 15px;
    display: block;
}
.navgation li a i{
    margin-right: 15px;
}
.aside .navgation li a.active{
    color: var(--skin-color) !important;
}

.aside .logo a::before{
    content: '';
    width: 20px;
    height: 20px;
    border-bottom: 5px solid var(--skin-color);
    border-left: 5px solid var(--skin-color);
    position: absolute;
    bottom: 0;
    left: 0;
}
.aside .logo a::after{
    content: '';
    width: 20px;
    height: 20px;
    border-top: 5px solid var(--skin-color);
    border-right: 5px solid var(--skin-color);
    position: absolute;
    top: 0;
    right: 0;
}

.img{
    background-color: #302e4d;
}
.home .row .home-img{
    text-align: center;
    position: relative;
    margin-top: 50px;
}
.home .row .home-img img{
    height: 300px;
    width: 250px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.home .row .home-img::before{
    content: '';
    width: 80px;
    height: 80px;
   border-top: 10px solid var(--skin-color);
   border-left: 10px solid var(--skin-color);
    position: absolute;
    top: -40px;
    left: 20px;
}


.home .row .home-img::after{
    content: '';
    width: 80px;
    height: 80px;
   border-bottom: 10px solid var(--skin-color);
   border-right: 10px solid var(--skin-color);
    position: absolute;
    bottom: -40px;
    right: 20px;
}
.button{
    background-color: var(--skin-color);
    font-size: 16px;
    font-weight: 500;
    color: white;
    display: inline-block;
    padding: 12px 35px;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    border: none;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}
.button:hover{
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}
.title{
    font-size: 40px;
    color: var(--text-black-900);
    font-weight: 700;
    position: relative;
}
.title::before{
    content: '';
    width: 50px;
    height: 4px;
    background-color: var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0;
}
.title::after{
    content: '';
    width: 30px;
    height: 4px;
    background-color: var(--skin-color);
    position: absolute;
    bottom: -10px;
    left: 0;
}
.about-breif h3{
    margin-top: 30px;
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 700;
    color: var(--text-black-700);
}

.about-breif h3 span{
    color: var(--skin-color);
}
.about-breif p{
    font-size: 16px;
    line-height: 25px;
    color: var(--text-black-700);
}

.personal-info{
    padding: 15px 15px;
    margin-top: 40px;
}
.skills{
    padding: 15px 15px;
    margin-top: 40px;
}
.personal-info .info-items li{
    margin: 15px 0;
    white-space: nowrap;
    font-weight: 600;
    color: var(--text-black-900);
    border-bottom: 1px solid var(--bg-black-50);
    
}
.personal-info .info-items li span{
    color: var(--text-black-700);
    font-weight: 400;
    margin-left: 4px;
    white-space: nowrap;
    display: inline-block;

}
.about .about-content .buttons .button{
    margin-top: 40px;
    margin-right: 15px;
}
.skills .skill-item{
    margin: 15px 0;
    white-space: nowrap;
    font-weight: 600;
    color: var(--text-black-900);
    border-bottom: 5px solid var(--skin-color);
    font-size: 16px;

}
.experience h3,.education h3{
    font-size: 24px;
    margin-bottom: 30px;
    font-weight: 700;
    color: var(--text-black-900);
   
}

.box-timeline{
    
  padding: 20px 30px;
  width:  100%;
/* overflow:hidden ; */

 
}

.timeline{
    padding: 15px;
    position: relative;
    width: 100%;
    
}

/* .timeline::before {
    content: '';
    position: absolute;
    width: 3px;
    height: 100%;
    background-color: var(--skin-color);
    left: -20px;
    margin-top: 65px;

} */

.circle-dot{
    background-color: var(--skin-color);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    width: 10px;
    height: 10px;
    margin-right: 20px;
    position: absolute;
    left: -23px;
    top: 80px;
}

.timeline p{
    text-align: justify;
    font-size: 16px;
    font-weight: 400;
    color: var(--text-black-700);
}
.timeline h6{
    font-weight: 400;
    color: var(--text-black-900);
    font-size: 14px;
    margin: 15px 10px;
}
.timeline h4{
    color: var(--text-black-900);
    font-size: 20px;
    font-weight: 700;
    margin: 15px 10px;
}
.portfolio-heading h3{
    color: var(--text-black-900);
    font-weight: 500;
    margin-top: 70px;
    font-size: 24px;
    margin-bottom: 40px;
}
.portfolio-img img{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.portfolio-item{
    border: 6px solid var(--bg-black-100);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}
.codeIconBox{
    background:rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: all 0.3s ease;
    -webkit-transform: all 0.3s ease;
    -moz-transform: all 0.3s ease;
    -ms-transform: all 0.3s ease;
    -o-transform: all 0.3s ease;
}
.codeIconBox .codeIcon i{
    font-size: 28px;
    padding: 0 15px;
}
.portfolio-item:hover  .codeIconBox 
{
   visibility: visible;
}
.codeIcon a{
    text-decoration: none;
}
.contact-heading{
    text-align: center;
    
    
}
.contact-heading h2{
    color: var(--skin-color);
    font-size: 25px;
    margin-bottom: 20px;
}
.contact-heading h6{
    color: var(--text-black-900);
    font-size: 15px;
   
}
.contact-info-item{
    text-align: center;
}
.contact-info-item .icon{
    color: var(--skin-color);
    font-size: 25px;
}
.contact-info-item  h4{
    color: var(--text-black-900);
    font-size: 18px;
    font-weight: 700;
    margin: 15px 0;
}
.contact-info-item  p{
    font-size: 16px;
    line-height: 25px;
    color: var(--text-black-700);
    font-weight: 400;
}
.form-item{
    margin-bottom: 30px;
}
.form-item .form-control{
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    background: var(--bg-black-100);
    border: 1px solid var(--bg-black-50);
    padding: 10px 25px;
    font-style: 16px;
    color: var(--text-black-700);
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}
.form-item .form-control:focus{
    box-shadow: 0 0 20px  rgb(44,47,77,0.15);
}
.form-item .form-group textarea{
    height: 140px;
}
.form-item .form-control .button{
    height: 50px;
    padding: 0 50px;
}

@media(max-width: 1199.98px){
    .home-info .hello{
       margin-top: 180px;
    }
    .aside{
        left: -275px;
    }
   .section{
    
    left: 0;
   }
   .aside .nav-toggler{
    display: flex;
    left:10px;
    top:5px;


   }
   .aside .nav-toggler.open{
    left: 250px;
    top: 5px;
   }
   .section{
    left: 0;
   }
   .section.open{
    left: 270px;
   }
     .box-timeline{
        padding: 0;
 
     }
     .circle-dot{
        left: -20px;
        top: 70px;
     }
     .timeline{
        padding: 10px 0;
        left: 30px;
     }
     .home .row .home-img::before{
        top: -40px;
        left: -25px;
     }
     .home .row .home-img::after{
        bottom:-40px;
        right: -40px;
     }
     .home .row .home-img img{
        width: 200px;
     }
}
@media (max-width: 575.98px) {
    .timeline p{
        width: 80%;
    }
   .about .title{
    margin-top: 20px;
   }
   .timeline h4{
    font-size: 16px;
   }
}